

body {



}


.desplegable {
    display: inline-block;
    position:relative;
  
}

.separador{
    display: inline-block;
    position: relative;
    top: 3px;
   
    align-self: center;
    width: 1px;
    height: 16px;
    padding-top: 1px;
    
    border: 1px solid red;
    background-color: red;

}

.contenidoDesplegable {
    display:none;
    position: absolute;
   
}


.desplegable:hover .contenidoDesplegable{
    display: block;


}


button{
background-color: lightblue;
border:  0px transparent;
padding: 0px;

}


