



/* Menú superior*/
nav, nav ul, nav li, nav a{
    z-index: 10;
}

nav{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: black;
    width: 100%;
    margin: 0px;
    
}

nav ul li ,li a{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    color: white;

}

nav li a:hover{
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    color: black;
    background-color: white;
    height: 30px;
}

nav ul li{
    background-color: black;


}


.menuItem{
    text-decoration: none;


}



.contenido{
    position: absolute;
    top: 50px;
    display: inline-block;
    height: 100%;
}





/* Ejemplo contenido*/
.bloqueA{
    background-color: aqua;
    display: inline-block;
    height: 100%;
    width: 500px;
}


